/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

a {
    text-decoration: none;
    color: black;
}

.grouping:after, .grouping:before{
    content: ' ';
    display: table;
}
.grouping:after{
    clear: both;
}